* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Carter One', cursive;
}

/* NAV-BAR */
.container {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    background-image: url(../image/bg-shoes.jfif);
    background-position: 10px;
    background-size: 200px;
    height: 100px;
    
}

a {
    text-decoration: none;
    color: rgb(146, 0, 0);
}

.left-side {
    display: flex;
}

.left-side ul {
    display: flex;
    align-items: center;
    list-style: none;

}

.left-side ul li {
    margin-right: 2rem;
}

.left-side ul li a {
    font-size: 1.3rem;
}

.left-side ul li a:hover {
    text-decoration: underline;
    color: rgb(255, 50, 50);
}

.left-side img {
    width: 100px;
    border-radius: 50%;
    margin-right: 0.5rem;
    border: 1px solid rgb(177, 8, 8);
}

.right-side {
    display: flex;
    justify-content: space-evenly;
}

.right-side ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.right-side ul li {
    margin-right: 2rem;
}

.right-side ul li a {
    font-size: 1.3rem;
}

.right-side ul li a:hover {
    text-decoration: underline;
    color: rgb(255, 50, 50);
}

/* NAVBAR-END */

.orientation {
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.animate-heartbeat {
  animation: heartbeat 1s ease-in-out;
}

.orientation ul {
    display: flex;
    list-style: none;
    border-bottom: 1px solid red;
    animation: heartbeat 0.5 infinite alternate linear;
}

.orientation ul li {
    padding: 2rem;
}

.orientation ul li a {
    font-size: 1.5rem;
    color: red;
}

.orientation ul li a:hover {
    text-decoration: 1px underline black;
}

/*SHOES*/
.models {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
}

.models img {
    width: 300px;
    height: 300px;
    margin: 3rem;
    object-fit: cover;
}

.models img:hover {
    border: 1px solid rgb(134, 3, 173);
}

.models div button {
    width: 8rem;
    border: 1px solid rgb(134, 3, 173);
    background-color: rgb(29, 27, 27);
    color: rgb(156, 9, 9);
}

.models div button:hover {
    font-size: 1rem;
}

/*HOODİES*/
.hoodies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
}

.hoodies img {
    width: 300px;
    height: 300px;
    margin: 3rem;
    object-fit: cover;
}

.hoodies img:hover {
    border: 1px solid rgb(134, 3, 173);
}

.hoodies div button {
    width: 8rem;
    border: 1px solid rgb(134, 3, 173);
    background-color: rgb(29, 27, 27);
    color: rgb(156, 9, 9);
}

.hoodies div button:hover {
    font-size: 1rem;
}


/*OUTFİTS*/
.outfits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
}

.outfits img {
    width: 300px;
    height: 300px;
    margin: 3rem;
    object-fit: cover;
}

.outfits img:hover {
    border: 1px solid rgb(134, 3, 173);
}

.outfits div button {
    width: 8rem;
    border: 1px solid rgb(134, 3, 173);
    background-color: rgb(29, 27, 27);
    color: rgb(156, 9, 9);
}

.outfits div button:hover {
    font-size: 1rem;
}



/*BALL*/
.ball {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
}

.ball img {
    width: 300px;
    height: 300px;
    margin: 3rem;
    object-fit: cover;
}

.ball img:hover {
    border: 1px solid rgb(134, 3, 173);
}

.ball div button {
    width: 8rem;
    border: 1px solid rgb(134, 3, 173);
    background-color: rgb(29, 27, 27);
    color: rgb(156, 9, 9);
}

.ball div button:hover {
    font-size: 1rem;
}

footer {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 15px;
    bottom: 0;
    animation: heartbeat 0.5 infinite alternate linear;
}

footer h1 {
    font-size: 1.5rem;
    color: white;
}

.footer-right ul {
    display: flex;
    list-style: none;
    color: white;
}

.footer-right ul li {
    margin-left: 2rem;
}

.footer-right ul li a {
    text-decoration: none;
    color: rgb(156, 9, 9);
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-left a {
    text-decoration: none;
    color: rgb(156, 9, 9);
}


/*CANVAS-MENU*/
.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-image: url(../image/logo.png);
    background-size: contain;
    overflow-x: hidden;
    transition: 0.5s;
    align-items: center;
}

.sidenav img {
    width: 160px;
    height: 160px;
}

.sidenav button {
    margin-bottom: 12px;
    width: 8rem;
    border: 1px solid rgb(134, 3, 173);
    background-color: white;
    color: rgb(156, 9, 9);
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
#payment{
    display: block;
    margin-bottom: 12px;
    width: 8rem;
    border: 1px solid rgb(134, 3, 173);
    border-radius: 8%;
    background-color: white;
    color: rgb(156, 9, 9);
    margin-top: 2rem;
}


/*CREDİT-CARD*/
.modal-3 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-content-3 {
    background-color: black;
    background-size: 100%;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    
  }
  @media screen and (max-width:1080px) {
    .modal-content-3{width: 100%;}
  }
  /* The Close Button */
  .close-3 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-3:hover,
  .close-3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /*PAY TO CARD*/
  .btn {
    display: block;
    background: #bded7d;
    color: white;
    text-decoration: none;
    margin: 20px 0;
    padding: 15px 15px;
    border-radius: 5px;
    position: relative;
  }
  .btn::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0), 0 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  .btn:hover::after {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.2);
  }
  
  /*-------Form-----------*/
  .form fieldset {
    border: none;
    padding: 0;
    padding: 10px 0;
    position: relative;
    clear: both;
  }
  .form fieldset.fieldset-expiration {
    float: left;
    width: 60%;
  }
  .form fieldset.fieldset-expiration .select {
    width: 84px;
    margin-right: 12px;
    float: left;
    background-color: white;
  }
  .form fieldset.fieldset-ccv {
    clear: none;
    float: right;
    width: 86px;
  }
  .form fieldset label {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    color: white;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Inconsolata;
  }
  .form fieldset input,
  .form fieldset .select {
    width: 100%;
    height: 38px;
    color: #333333;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    outline: none !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  }
  .form fieldset input.input-cart-number,
  .form fieldset .select.input-cart-number {
    width: 82px;
    display: inline-block;
    margin-right: 8px;
  }
  .form fieldset input.input-cart-number:last-child,
  .form fieldset .select.input-cart-number:last-child {
    margin-right: 0;
  }
  .form fieldset .select {
    position: relative;
  }
  .form fieldset .select::after {
    content: "";
    border-top: 8px solid #222;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    z-index: 2;
    top: 14px;
    right: 10px;
    pointer-events: none;
  }
  .form fieldset .select select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: absolute;
    padding: 0;
    border: none;
    width: 100%;
    outline: none !important;
    top: 6px;
    left: 6px;
    background: none;
  }
  .form fieldset .select select :-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  .form button {
    width: 100%;
    outline: none !important;
    background: linear-gradient(180deg, #000000, #3d8291);
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    box-shadow: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: 90px;
  }
  .form button .fa {
    margin-right: 6px;
  }
  
  /*--------------------
  Checkout
  --------------------*/
  .checkout {
    margin: 150px auto 30px;
    position: relative;
    width: 460px;
    background: transparent;
    border-radius: 15px;
    padding: 160px 45px 30px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  }
  
  /*--------------------
  Credit Card
  --------------------*/
  .credit-card-box {
    perspective: 1000;
    width: 400px;
    height: 280px;
    position: absolute;
    top: -112px;
    left: 50%;
    transform: translateX(-50%);
  }
  .credit-card-box:hover .flip, .credit-card-box.hover .flip {
    transform: rotateY(180deg);
  }
  .credit-card-box .front,
  .credit-card-box .back {
    width: 400px;
    height: 250px;
    border-radius: 15px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background-image: url(../image/bg-shoes.jfif);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    color: #fff;
    font-family: Inconsolata;
    top: 0;
    left: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  }
  .credit-card-box .front::before,
  .credit-card-box .back::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("http://cdn.flaticon.com/svg/44/44386.svg") no-repeat center;
    background-size: cover;
    opacity: 0.05;
  }
  .credit-card-box .flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  .credit-card-box .logo {
    position: absolute;
    top: 9px;
    right: 20px;
    width: 60px;
  }
  .credit-card-box .logo svg {
    width: 100%;
    height: auto;
    fill: #fff;
  }
  .credit-card-box .front {
    z-index: 2;
    transform: rotateY(0deg);
  }
  .credit-card-box .back {
    transform: rotateY(180deg);
  }
  .credit-card-box .back .logo {
    top: 185px;
  }
  .credit-card-box .chip {
    position: absolute;
    width: 60px;
    height: 45px;
    top: 20px;
    left: 20px;
    background: linear-gradient(135deg, #ddccf0 0%, #4d5559 44%, #f8ece7 100%);
    border-radius: 8px;
  }
  .credit-card-box .chip::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 4px solid rgba(128, 128, 128, 0.1);
    width: 80%;
    height: 70%;
    border-radius: 5px;
  }
  .credit-card-box .strip {
    background: linear-gradient(135deg, #404040, #1a1a1a);
    position: absolute;
    width: 100%;
    height: 50px;
    top: 30px;
    left: 0;
  }
  .credit-card-box .number {
    position: absolute;
    margin: 0 auto;
    top: 103px;
    left: 19px;
    font-size: 38px;
  }
  .credit-card-box label {
    font-size: 10px;
    letter-spacing: 1px;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: normal;
    opacity: 0.5;
    display: block;
    margin-bottom: 3px;
  }
  .credit-card-box .card-holder,
  .credit-card-box .card-expiration-date {
    position: absolute;
    margin: 0 auto;
    top: 180px;
    left: 19px;
    font-size: 22px;
    text-transform: capitalize;
  }
  .credit-card-box .card-expiration-date {
    text-align: right;
    left: auto;
    right: 20px;
  }
  .credit-card-box .ccv {
    height: 36px;
    background: #fff;
    width: 91%;
    border-radius: 5px;
    top: 110px;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
    color: #000;
    text-align: right;
    padding: 10px;
  }
  .credit-card-box .ccv label {
    margin: -25px 0 14px;
    color: #fff;
  }
  
  .the-most {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 50vw;
    max-width: 200px;
    padding: 10px;
  }
  .the-most img {
    max-width: 100%;
  }

/*SLİDE-SHOW*/
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container-2 {
    display: block;
    position: relative;
    margin-top: 5rem;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container-2 {
    display: flex;
    margin: 0 auto;
    width: 50%;
    justify-content: center;
    text-align: center;
    background-color: #8d1606;
    padding: 2px 16px;
    color: white;
    border: 6px solid black;
    margin-top: 2rem;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
